
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Outfit:wght@100;300;400;500;600;700;800&display=swap');

*{
    font-family:'Lato', sans-serif ;
    /* background-color: #f7f6f6 ; */
   
    
   
}
    
#SinglePageMain{
    /* border: 2px solid red; */
    /* background-color: #f7f6f6 ; */
    margin: auto;
    height: auto;
    margin-bottom: 25px;
    
}


