@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Outfit:wght@100;300;400;500;600;700;800&display=swap');

*{
    font-family:'Lato', sans-serif ;
    background-color: #f7f6f6 ;
    /* overflow: hidden; */
    
}
#bodyProductPage{
   
    height: 200vh;
    /* border: 2px solid red; */
    width: 78%;
    margin: auto;
}
.productNavigationBar{
    display: flex;
    cursor: pointer;
    padding: 6px 5px 5px 0px;


}
.HomeHover{
    color: #555;
    
}
.HomeHover:hover{
    color: #ff0040;
}
.horizontalRule{
    color: #f0f1f2;
    /* margin-bottom: 5px; */
}

/*  PRODUCT FILTER CSS ---------------- */

.productFilterHover:hover{
     border-bottom: 2px solid  #d11243;
     /* background-color: red; */
}

#productFilterFish{
    /* border: 2px solid black; */
    display: flex;
    width: auto;
    height: 10vh;
    /* justify-content: space-between; */
    /* align-items: center; */

}

/* PRODUCT DATA ISimportant -----------------------------------------------------> */


#ProductAddToCartButton:hover{
    background: #ef3362 ;
    color: #fff 
}

#productMainData{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 22px;
}



#ResponsiveFilterFishMain{
    display: none;
}


/*  RESPONSIVE CODE --------------------------------- */

@media  (min-width: 480px) and (max-width: 1024px)  {
    #productFilterFish , #productSelectFish{
     display: none;
    }
    #ResponsiveFilterFishMain{
        display: block;
    }
    #bodyProductPage{
        width: 90%;
    }
    #productMainData{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width: 310px) and (max-width: 479px) {
    #productFilterFish ,#productSelectFish{
        display: none;
        
       }
     
       #ResponsiveFilterFishMain{
           display: block;
       }
       #bodyProductPage{
           width: 90%;
       }
       
       
      
    .displayBlockProduct{
        display: none;
    }

}